:root{
    --primary-bg: #252A2F;
    --lighter-bg: #31363a;
    --primary-accent: #44CFD4;
    --accent-darker: #18AEB4;
    --primary-heading: #FFFFFF;
    --primary-subheading: rgba(255,255,255,0.8);
    --primary-text: rgba(255,255,255,0.5);
    --button-text: #000000;
    --button-less-visible: #74808a;
}

*{
    margin:0em;
    padding:0em;
    box-sizing: border-box;
}

.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 0.5em;
}

.item-scroll{
    position:relative;
    overflow: hidden;
    scroll-behavior: smooth;
    height: 100%;
}

.single-delete{
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: lowercase;
    border: none;
    background-color: var(--primary-accent);
    color: var(--button-text);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 1.1em;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
}

.single-delete:hover{
    border: 2px solid var(--primary-accent);
    background-color: transparent;
    color: var(--primary-accent);
    font-weight: 500;
}

.quantity{
    color: var(--primary-heading);
    font-size: 1em;
    font-weight: 600;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

.delete-quantity{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:0.5em;
}

#cart{
    border-radius: 1em;
    position: fixed;
    right: 0; 
    top: 0;
    width: 20em;
    min-height: 10em;
    max-height: 25em;
    background-color: var(--primary-bg);
    padding: 1em;
    margin-top: 1em;
    margin-right: 1em;
    z-index: 9999;
    display: flex;
    flex-direction: column;
}

.item{  
    color: var(--primary-heading);
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    font-weight: 800;
}

.product-price{
    font-weight: 300;
    font-size: 1.0em;
}


#group-cart{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
}

#total-cost{
    color:var(--primary-heading);
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.0em;
    text-align: right;
}

#cart-title{
    display: flex;
    justify-content: center;
    color:var(--primary-heading);
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size: 1.0em;
    margin-bottom: 1em;
}

#remove-all{
    border: none;
    background-color: transparent;
    color: var(--primary-accent);
    border: 1px solid var(--primary-accent);
    width: 40%;
    height: 2em;
    border-radius: 9px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#fakebuy{
    border: none;
    background-color: var(--primary-accent);
    color: var(--button-text);
    width: 40%;
    height: 2em;
    border-radius: 9px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 0.8em;
    cursor: pointer;
    transition: all 0.1s ease-in;
}

#remove-all:hover, #fakebuy:hover{
    transform: scale(0.95);
}

#separator{
    margin-top: 1em;
    margin-bottom: 1em;
}