@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Roboto:wght@500&display=swap');

:root {
    --primary-bg: #252A2F;
    --lighter-bg: #31363a;
    --primary-accent: #44CFD4;
    --accent-darker: #18AEB4;
    --primary-heading: #FFFFFF;
    --primary-subheading: rgba(255, 255, 255, 0.8);
    --primary-text: rgba(255, 255, 255, 0.5);
    --button-text: #000000;
    --button-less-visible: #74808a;
}

.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--primary-bg);
    font-family: 'Poppins', sans-serif;
}

.loading-screen h1 {
    font-size: 4rem;
    color: var(--primary-heading);

    margin-bottom: 2rem;
}

.progress-bar-container {
    width: 50%;
    margin-top: 2rem;
    text-align: center;
    color: var(--accent-darker);

}

.progress-bar-container #progress-bar {
    width: 100%;
    height: 2.5rem;
    border-radius: 30px;
    margin-top: 2rem;

}

progress::-webkit-progress-bar {
    width: 100%;
    height: 2.5rem;
    outline: none;
    border-radius: 30px;
}

progress::-webkit-progress-value {
    background-color: var(--accent-darker);
    border-radius: 30px;

}

progress::-moz-progress-bar {
    background-color: var(--accent-darker);
    border-radius: 30px;

}

label[for="progress-bar"] {
    font-size: 1.5rem;
    color: var(--primary-heading);

}

@media all and (max-width: 1265px) {
    .loading-screen h1 {
        font-size: 2.5rem;
    }
}